fastapi
uvicorn
pydantic
pydantic-settings
sqlmodel
psycopg2-binary
pgvector
asyncpg
python-multipart
sentence-transformers
openai
langchain
langchain-community
langchain-openai
langchain_text_splitters
pypdf
dotenv
python-dotenv
pathlib
psycopg2
datasets
ragas
torch